<div class='heading'>
    <div style='float:left;'><h1>CPSC 4300/6300: Applied Data Science</h1></div>
    <img style="float: right; padding-right: 10px; width: 65px" src="https://raw.githubusercontent.com/bsethwalker/clemson-cs4300/main/images/clemson_paw.png"> </div><br>


## Week 2: Introduction to Pandas

**Clemson University**<br>
**Spring 2024**<br>
**Instructor(s):** Nina Hubig <br>
**TA(s):** Luyi Li


---

In [25]:
""" RUN THIS CELL TO GET THE RIGHT FORMATTING """
import requests
from IPython.core.display import HTML
css_file = 'https://raw.githubusercontent.com/bsethwalker/clemson-cs4300/main/css/cpsc6300.css'
styles = requests.get(css_file).text
HTML(styles)

# Table of Contents 
<ol start="0">
<li> Learning Goals </li>
<li> Loading and Cleaning with Pandas</li>
<li> Parsing and Completing the Dataframe  </li>
<li> Grouping </li>
</ol>

## Learning Goals

About 6,000 odd "best books" were fetched and parsed from [Goodreads](https://www.goodreads.com). The "bestness" of these books came from a proprietary formula used by Goodreads and published as a list on their web site.

We parsed the page for each book and saved data from all these pages in a tabular format as a CSV file. In this lab we'll clean and further parse the data.  We'll then do some exploratory data analysis to answer questions about these best books and popular genres.  


By the end of this lab, you should be able to:

- Load and systematically address missing values, encoded as `NaN` values in our data set, for example, by removing observations associated with these values.
- Parse columns in the dataframe to create new dataframe columns.
- Use groupby to aggregate data on a particular feature column, such as author.

### Basic EDA workflow

The basic workflow is as follows:

1. **Build** a DataFrame from the data (ideally, put all data in this object)
2. **Clean** the DataFrame. It should have the following properties:
    - Each row describes a single object
    - Each column describes a property of that object
    - Columns are numeric whenever appropriate
    - Columns contain atomic properties that cannot be further decomposed
3. Explore **global properties**. Use histograms, scatter plots, and aggregation functions to summarize the data.
4. Explore **group properties**. Use groupby and small multiples to compare subsets of the data.

This process transforms your data into a format which is easier to work with, gives you a basic overview of the data's properties, and likely generates several questions for you to followup in subsequent analysis.

## Part 1: Loading and Cleaning with Pandas 
Read in the `goodreads.csv` file, examine the data, and do any necessary data cleaning. 

Here is a description of the columns (in order) present in this csv file:

```
rating: the average rating on a 1-5 scale achieved by the book
review_count: the number of Goodreads users who reviewed this book
isbn: the ISBN code for the book
booktype: an internal Goodreads identifier for the book
author_url: the Goodreads (relative) URL for the author of the book
year: the year the book was published
genre_urls: a string with '|' separated relative URLS of Goodreads genre pages
dir: a directory identifier internal to the scraping code
rating_count: the number of ratings for this book (this is different from the number of reviews)
name: the name of the book
```

Let us see what issues we find with the data and resolve them.  



----




After loading appropriate libraries

In [3]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

### Cleaning: Reading in the data
We read in and clean the data from `goodreads.csv`.

In [5]:
#Read the data into a dataframe
df = pd.read_csv("goodreads.csv", encoding='utf-8')

#Examine the first few rows of the dataframe
df.head(10)

   4.40   136455  0439023483  good_reads:book https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008 /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action                dir01/2767052-the-hunger-games.html    2958974            The Hunger Games (The Hunger Games, #1)
0  4.41  16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....            2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...                                                                                                                                                                                                     dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478.0  Harry Potter and the Order of the Phoenix (Har...
1  3.56  85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...            2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                                                                                                                                                                                                                             dir01/41865.Twilight.html  2579564.0                            Twilight (Twilight, #1)
2  4.23  47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...            1960.0  /genres/classics|/genres/fiction|/genres/histo...                                                                                                                                                                                                                 dir01/2657.To_Kill_a_Mockingbird.html  2078123.0                              To Kill a Mockingbird
3  4.23  34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...            1813.0  /genres/classics|/genres/fiction|/genres/roman...                                                                                                                                                                                                                   dir01/1885.Pride_and_Prejudice.html  1388992.0                                Pride and Prejudice
4  4.25  12363.0  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...            1936.0  /genres/classics|/genres/historical-fiction|/g...                                                                                                                                                                                                                   dir01/18405.Gone_with_the_Wind.html   645470.0                                 Gone with the Wind
5  4.22   7205.0  0066238501  good_reads:book  https://www.goodreads.com/author/show/1069006....            1949.0  /genres/classics|/genres/young-adult|/genres/c...                                                                                                                                                                                                             dir01/11127.The_Chronicles_of_Narnia.html   286677.0  The Chronicles of Narnia (Chronicles of Narnia...
6  4.38  10902.0  0060256656  good_reads:book  https://www.goodreads.com/author/show/435477.S...            1964.0  /genres/childrens|/genres/young-adult|/genres/...                                                                                                                                                                                                                     dir01/370493.The_Giving_Tree.html   502891.0                                    The Giving Tree
7  3.79  20670.0  0452284244  good_reads:book  https://www.goodreads.com/author/show/3706.Geo...            1945.0  /genres/classics|/genres/fiction|/genres/scien...                                                                                                                                                                                                                           dir01/7613.Animal_Farm.html  1364879.0                                        Animal Farm
8  4.18  12302.0  0345391802  good_reads:book  https://www.goodreads.com/author/show/4.Dougla...            1979.0  /genres/science-fiction|/genres/humor|/genres/...                                                                                                                                                                                                     dir01/11.The_Hitchhiker_s_Guide_to_the_Galaxy....   724713.0  The Hitchhiker's Guide to the Galaxy (Hitchhik...
9  4.03  20937.0  0739326228  good_reads:book  https://www.goodreads.com/author/show/614.Arth...            1997.0  /genres/fiction|/genres/historical-fiction|/ge...                                                                                                                                                                                                                    dir01/930.Memoirs_of_a_Geisha.html  1042679.0                                Memoirs of a Geisha

Oh dear. That does not quite seem to be right. We are missing the column names. We need to add these in! But what are they?

Here is a list of them in order:

`["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']`

<div class="exercise"><b>Exercise 1</b></div>
Use these to load the dataframe properly! And then "head" the dataframe... (you will need to look at the read_csv docs)

In [7]:
# List of column names
columns = ["rating", "review_count", "isbn", "booktype", "author_url", "year", "genre_urls", "dir", "rating_count", "name"]

# Read the CSV file without header, and assign the column names manually
df = pd.read_csv("goodreads.csv", encoding='utf-8', header=None, names=columns)

# Examine the first few rows of the dataframe
df.head(10)

   rating  review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir  rating_count                                               name
0    4.40      136455.0  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html     2958974.0            The Hunger Games (The Hunger Games, #1)
1    4.41       16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...     1284478.0  Harry Potter and the Order of the Phoenix (Har...
2    3.56       85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html     2579564.0                            Twilight (Twilight, #1)
3    4.23       47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html     2078123.0                              To Kill a Mockingbird
4    4.23       34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html     1388992.0                                Pride and Prejudice
5    4.25       12363.0  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...  1936.0  /genres/classics|/genres/historical-fiction|/g...                dir01/18405.Gone_with_the_Wind.html      645470.0                                 Gone with the Wind
6    4.22        7205.0  0066238501  good_reads:book  https://www.goodreads.com/author/show/1069006....  1949.0  /genres/classics|/genres/young-adult|/genres/c...          dir01/11127.The_Chronicles_of_Narnia.html      286677.0  The Chronicles of Narnia (Chronicles of Narnia...
7    4.38       10902.0  0060256656  good_reads:book  https://www.goodreads.com/author/show/435477.S...  1964.0  /genres/childrens|/genres/young-adult|/genres/...                  dir01/370493.The_Giving_Tree.html      502891.0                                    The Giving Tree
8    3.79       20670.0  0452284244  good_reads:book  https://www.goodreads.com/author/show/3706.Geo...  1945.0  /genres/classics|/genres/fiction|/genres/scien...                        dir01/7613.Animal_Farm.html     1364879.0                                        Animal Farm
9    4.18       12302.0  0345391802  good_reads:book  https://www.goodreads.com/author/show/4.Dougla...  1979.0  /genres/science-fiction|/genres/humor|/genres/...  dir01/11.The_Hitchhiker_s_Guide_to_the_Galaxy....      724713.0  The Hitchhiker's Guide to the Galaxy (Hitchhik...

### Cleaning: Examing the dataframe - quick checks

We should examine the dataframe to get a overall sense of the content. 

<div class="exercise"><b>Exercise 2</b></div>
Lets check the types of the columns. What do you find?

In [26]:
df['review_count'] = pd.to_numeric(df['review_count'], errors='coerce').fillna(0).astype(int)
df['rating_count'] = pd.to_numeric(df['rating_count'], errors='coerce').fillna(0).astype(int)

df['year'] = pd.to_numeric(df['year'], errors='coerce').fillna(0).astype(int)

df.dtypes

rating          float64
review_count      int64
isbn             object
booktype         object
author_url       object
year              int64
genre_urls       object
dir              object
rating_count      int64
name             object
dtype: object

*your answer here*

Notice that `review_count` and `rating_counts` are objects instead of ints, and the `year` is a float!

There are a couple more quick sanity checks to perform on the dataframe.

In [30]:
print(df.shape)
df.columns

(6000, 10)

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'], dtype='object')

### Cleaning: Examining the dataframe - a deeper look

Beyond performing checking some quick general properties of the data frame and looking at the first $n$ rows, we can dig a bit deeper into the values being stored. If you haven't already, check to see if there are any missing values in the data frame.

Let's see for a column which seemed OK to us.

In [34]:
#Get a sense of how many missing values there are in the dataframe.
print(np.sum([df.rating.isnull()]))
print(np.sum([df.review_count.isnull()]))
print(np.sum([df.isbn.isnull()]))
print(np.sum([df.booktype.isnull()]))
print(np.sum([df.author_url.isnull()]))
print(np.sum([df.year.isnull()]))
print(np.sum([df.genre_urls.isnull()]))
print(np.sum([df.dir.isnull()]))
print(np.sum([df.rating_count.isnull()]))
print(np.sum([df.name.isnull()]))

2
0
477
2
2
0
62
0
0
2

In [36]:
#Try to locate where the missing values occur
df[df.rating.isnull()]

      rating  review_count isbn booktype author_url  year genre_urls                              dir  rating_count name
3643     NaN             0  NaN      NaN        NaN     0        NaN  dir37/9658936-harry-potter.html             0  NaN
5282     NaN             0  NaN      NaN        NaN     0        NaN     dir53/113138.The_Winner.html             0  NaN

How does `pandas` or `numpy` handle missing values when we try to compute with data sets that include them?

We'll now check if any of the other suspicious columns have missing values.  Let's look at `year` and `review_count` first.

One thing you can do is to try and convert to the type you expect the column to be. If something goes wrong, it likely means your data are bad.

Lets test for missing data:

In [41]:
df[df.year.isnull()]

df.year.isnull()
df.shape

(6000, 10)

### Cleaning: Dealing with Missing Values
How should we interpret 'missing' or 'invalid' values in the data (hint: look at where these values occur)? One approach is to simply exclude them from the dataframe. Is this appropriate for all 'missing' or 'invalid' values?

In [44]:
#Treat the missing or invalid values in your dataframe
####### 

df = df[df.year.notnull()]

Ok so we have done some cleaning. What do things look like now? Notice the float has not yet changed.

In [47]:
df.dtypes

rating          float64
review_count      int64
isbn             object
booktype         object
author_url       object
year              int64
genre_urls       object
dir              object
rating_count      int64
name             object
dtype: object

In [49]:
print(np.sum(df.year.isnull()))
df.shape # We removed seven rows

0

(6000, 10)

<div class="exercise"><b>Exercise 3</b></div>

Ok so lets fix those types. Convert them to ints. If the type conversion fails, we now know we have further problems.

In [51]:
df['rating'] = pd.to_numeric(df['rating'], errors='coerce').fillna(0).astype(int)
df['review_count'] = pd.to_numeric(df['review_count'], errors='coerce').fillna(0).astype(int)
df['rating_count'] = pd.to_numeric(df['rating_count'], errors='coerce').fillna(0).astype(int)
df['year'] = pd.to_numeric(df['year'], errors='coerce').fillna(0).astype(int)

print(df.dtypes)
print(df.head(10))

rating           int64
review_count     int64
isbn            object
booktype        object
author_url      object
year             int64
genre_urls      object
dir             object
rating_count     int64
name            object
dtype: object
   rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name
0       4        136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html       2958974            The Hunger Games (The Hunger Games, #1)
1       4         16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...       1284478  Harry Potter and the Order of the Phoenix (Har...
2       3         85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html       2579564                            Twilight (Twilight, #1)
3       4         47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html       2078123                              To Kill a Mockingbird
4       4         34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html       1388992                                Pride and Prejudice
5       4         12363  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...  1936  /genres/classics|/genres/historical-fiction|/g...                dir01/18405.Gone_with_the_Wind.html        645470                                 Gone with the Wind
6       4          7205  0066238501  good_reads:book  https://www.goodreads.com/author/show/1069006....  1949  /genres/classics|/genres/young-adult|/genres/c...          dir01/11127.The_Chronicles_of_Narnia.html        286677  The Chronicles of Narnia (Chronicles of Narnia...
7       4         10902  0060256656  good_reads:book  https://www.goodreads.com/author/show/435477.S...  1964  /genres/childrens|/genres/young-adult|/genres/...                  dir01/370493.The_Giving_Tree.html        502891                                    The Giving Tree
8       3         20670  0452284244  good_reads:book  https://www.goodreads.com/author/show/3706.Geo...  1945  /genres/classics|/genres/fiction|/genres/scien...                        dir01/7613.Animal_Farm.html       1364879                                        Animal Farm
9       4         12302  0345391802  good_reads:book  https://www.goodreads.com/author/show/4.Dougla...  1979  /genres/science-fiction|/genres/humor|/genres/...  dir01/11.The_Hitchhiker_s_Guide_to_the_Galaxy....        724713  The Hitchhiker's Guide to the Galaxy (Hitchhik...

Once you do this, we seem to be good on these columns (no errors in conversion). Lets look:

In [54]:
df.dtypes

rating           int64
review_count     int64
isbn            object
booktype        object
author_url      object
year             int64
genre_urls      object
dir             object
rating_count     int64
name            object
dtype: object

Sweet!

Some of the other colums that should be strings have NaN.

In [62]:
df.loc[df.genre_urls.isnull(), 'genre_urls']=""
df.loc[df.isbn.isnull(), 'isbn']=""

##  Part 2: Parsing and Completing the Data Frame 

We will parse the `author` column from the author_url and `genres` column from the genre_urls. Keep the `genres` column as a string separated by '|'.

We will use panda's `map` to assign new columns to the dataframe.

Examine an example `author_url` and reason about which sequence of string operations must be performed in order to isolate the author's name.

In [66]:
#Get the first author_url
test_string = df.author_url[0]
test_string

'https://www.goodreads.com/author/show/153394.Suzanne_Collins'

In [68]:
#Test out some string operations to isolate the author name

test_string.split('/')[-1].split('.')[1:][0]

'Suzanne_Collins'

<div class="exercise"><b>Exercise 4</b></div>

Lets wrap the above code into a function which we will then use

In [79]:
def get_author(url):
    if isinstance(url, str):
        try:
            name = url.split('/')[-1].split('.')[1]
            return name
        except IndexError:
            return None
    else:
        return None

df['author'] = df['author_url'].map(get_author)

df['author'].head()

0    Suzanne_Collins
1        J_K_Rowling
2    Stephenie_Meyer
3         Harper_Lee
4        Jane_Austen
Name: author, dtype: object

In [81]:
#Apply the get_author function to the 'author_url' column using '.map' 
#and add a new column 'author' to store the names
df['author'] = df.author_url.map(get_author)
df.author[0:5]

0    Suzanne_Collins
1        J_K_Rowling
2    Stephenie_Meyer
3         Harper_Lee
4        Jane_Austen
Name: author, dtype: object


Now parse out the genres from `genre_url`.  

This is a little more complicated because there be more than one genre.

In [84]:

df.genre_urls.head()

0    /genres/young-adult|/genres/science-fiction|/g...
1    /genres/fantasy|/genres/young-adult|/genres/fi...
2    /genres/young-adult|/genres/fantasy|/genres/ro...
3    /genres/classics|/genres/fiction|/genres/histo...
4    /genres/classics|/genres/fiction|/genres/roman...
Name: genre_urls, dtype: object

In [86]:
#Examine some examples of genre_urls

#Test out some string operations to isolate the genre name
test_genre_string=df.genre_urls[0]
genres=test_genre_string.strip().split('|')
for e in genres:
    print(e.split('/')[-1])
    "|".join(genres)

young-adult
science-fiction
dystopia
fantasy
science-fiction
romance
adventure
book-club
young-adult
teen
apocalyptic
post-apocalyptic
action

<div class="exercise"><b>Exercise 5</b></div>

Write a function that accepts a genre url and returns the genre name based on your experimentation above

In [95]:
def split_and_join_genres(url):
    genres = [genre.split('/')[-1] for genre in url.strip().split('|')]
    return '|'.join(genres)

split_and_join_genres("/genres/young-adult/|/genres/science-fiction")

'|science-fiction'

Test your function

In [98]:
split_and_join_genres("/genres/young-adult|/genres/science-fiction")

'young-adult|science-fiction'

In [100]:
split_and_join_genres("")

''

This question is primarily aimed at graduate students, serving as a critical part of their assignment. However, undergraduate students are encouraged to take this on as an optional bonus challenge.
<div class="exercise"><b>Exercise 6</b></div>
Use map again to create a new "genres" column

In [102]:
df['genres'] = df['genre_urls'].map(split_and_join_genres)

df.head()

   rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name           author                                             genres
0       4        136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html       2958974            The Hunger Games (The Hunger Games, #1)  Suzanne_Collins  young-adult|science-fiction|dystopia|fantasy|s...
1       4         16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...       1284478  Harry Potter and the Order of the Phoenix (Har...      J_K_Rowling  fantasy|young-adult|fiction|fantasy|magic|chil...
2       3         85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html       2579564                            Twilight (Twilight, #1)  Stephenie_Meyer  young-adult|fantasy|romance|paranormal|vampire...
3       4         47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html       2078123                              To Kill a Mockingbird       Harper_Lee  classics|fiction|historical-fiction|academic|s...
4       4         34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html       1388992                                Pride and Prejudice      Jane_Austen  classics|fiction|romance|historical-fiction|li...

Finally, let's pick an author at random so we can see the results of the transformations.  Scroll to see the `author` and `genre` columns that we added to the dataframe.

In [105]:
df[df.author == "Marguerite_Yourcenar"]

      rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                  dir  rating_count                name                author                                             genres
1014       4           483  0374529264  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1951  /genres/historical-fiction|/genres/fiction|/ge...  dir11/12172.Memoirs_of_Hadrian.html          6258  Memoirs of Hadrian  Marguerite_Yourcenar  historical-fiction|fiction|cultural|france|cla...
5620       4            74  2070367983  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1968  /genres/fiction|/genres/historical-fiction|/ge...     dir57/953435.L_uvre_au_noir.html          1601    L'Åuvre au noir  Marguerite_Yourcenar  fiction|historical-fiction|cultural|france|eur...

Let us delete the `genre_urls` column.

In [108]:
del df['genre_urls']

And then save the dataframe out!

In [121]:
df.to_csv("cleaned-goodreads.csv", index=False, header=True)

---

## Part 3: Grouping

It appears that some books were written in negative years!  Print out the observations that correspond to negative years.  What do you notice about these books?

In [126]:
df[df.year < 0].name
#These are books written before the Common Era (BCE, equivalent to BC).

47                               The Odyssey
246                    The Iliad/The Odyssey
455                             The Republic
596                               The Aeneid
629                              Oedipus Rex
674                           The Art of War
746                        The Bhagavad Gita
777                                 Antigone
1233                       The Oedipus Cycle
1397                          Aesop's Fables
1398                   The Epic of Gilgamesh
1428                                   Medea
1815                            The Oresteia
1882         The Trial and Death of Socrates
2078    The History of the Peloponnesian War
2527                           The Histories
3133                          Complete Works
3274                  The Nicomachean Ethics
3757                              Lysistrata
4402                           The Symposium
4475                                 Apology
5367                          Five Dialogues
Name: name, dtype: object

We can determine the "best book" by year! For this we use Panda's `groupby()`. `Groupby()` allows grouping a dataframe by any (usually categorical) variable. Would it make sense to ever groupby integer variables? Floating point variables?

In [129]:
dfgb_author = df.groupby('author')
type(dfgb_author)

pandas.core.groupby.generic.DataFrameGroupBy

Perhaps we want the number of books each author wrote

In [132]:
dfgb_author.count()

                       rating  review_count  isbn  booktype  author_url  year  dir  rating_count  name  genres
author
A_A_Milne                   6             6     6         6           6     6    6             6     6       6
A_G_Howard                  1             1     1         1           1     1    1             1     1       1
A_J_Cronin                  1             1     1         1           1     1    1             1     1       1
A_J_Jacobs                  1             1     1         1           1     1    1             1     1       1
A_J_Salt                    1             1     1         1           1     1    1             1     1       1
...                       ...           ...   ...       ...         ...   ...  ...           ...   ...     ...
_                          42            42    42        42          42    42   42            42    42      42
_gota_Krist_f               1             1     1         1           1     1    1             1     1       1
_mile_Zola                  4             4     4         4           4     4    4             4     4       4
_ric_Emmanuel_Schmitt       1             1     1         1           1     1    1             1     1       1
_sne_Seierstad              1             1     1         1           1     1    1             1     1       1

[2648 rows x 10 columns]

Lots of useless info there. One column should suffice

### Exercise:

- Group the dataframe by `author`. Include the following columns: `rating`, `name`, `author`. For the aggregation of the `name` column which includes the names of the books create a list with the strings containing the name of each book. Make sure that the way you aggregate the rest of the columns make sense! 

- Create a new column with number of books for each author and find the most prolific author!

In [136]:
###### Before we start : what do we do about these titles where 'name' is unreadable? Try different encodings?
auth_name = 'A_id_al_Qarni'
df[df.author == auth_name].head()

      rating  review_count isbn         booktype                                         author_url  year                 dir  rating_count                                   name         author                                             genres
2213       4          1169       good_reads:book  https://www.goodreads.com/author/show/1201952....  2003  dir23/2750180.html         15781                          ÙØ§ ØªØ­Ø²Ù  A_id_al_Qarni  religion|religion|islam|self-help|non-fiction|...
5998       3           281       good_reads:book  https://www.goodreads.com/author/show/1201952....  2006  dir60/2750008.html          3083  Ø£Ø³Ø¹Ø¯ Ø§Ù
Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ
  A_id_al_Qarni  religion|islam|religion|self-help|spirituality...

In [138]:
df[df.author == auth_name].iat[0,8].encode('UTF-16')

b'\xff\xfe\xd9\x00\x84\x00\xd8\x00\xa7\x00 \x00\xd8\x00\xaa\x00\xd8\x00\xad\x00\xd8\x00\xb2\x00\xd9\x00\x86\x00'

In [140]:
# let's examine the columns we have
df.columns

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'dir', 'rating_count', 'name', 'author', 'genres'], dtype='object')

Create the GroupBy table

In [143]:
authors = df.copy()
authors = authors[['rating','name','author']].groupby('author').agg({'rating' : np.mean,
                                                                    'name' : '|'.join})

/var/folders/lz/6fnq46gx1z791gt7knsqgdgr0000gn/T/ipykernel_71997/2334179269.py:2: FutureWarning: The provided callable <function mean at 0x114a74ea0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  authors = authors[['rating','name','author']].groupby('author').agg({'rating' : np.mean,

In [145]:
authors = authors.reset_index()
authors.head()

       author  rating                                               name
0   A_A_Milne     4.0  Winnie-the-Pooh|The House at Pooh Corner|The H...
1  A_G_Howard     4.0                        Splintered (Splintered, #1)
2  A_J_Cronin     4.0                            The Keys of the Kingdom
3  A_J_Jacobs     3.0                      The Year of Living Biblically
4    A_J_Salt     4.0                    Nik Nassa & the Mark of Destiny

In [147]:
# split the column string and make a list of string book names
authors['name'] = authors.name.str.split('|')
authors.head()

       author  rating                                               name
0   A_A_Milne     4.0  [Winnie-the-Pooh, The House at Pooh Corner, Th...
1  A_G_Howard     4.0                      [Splintered (Splintered, #1)]
2  A_J_Cronin     4.0                          [The Keys of the Kingdom]
3  A_J_Jacobs     3.0                    [The Year of Living Biblically]
4    A_J_Salt     4.0                  [Nik Nassa & the Mark of Destiny]

In [149]:
# count the books - create new column
len(authors.name[0])

6

In [151]:
authors['num_books'] = authors['name'].str.len()
authors

                     author    rating                                               name  num_books
0                 A_A_Milne  4.000000  [Winnie-the-Pooh, The House at Pooh Corner, Th...          6
1                A_G_Howard  4.000000                      [Splintered (Splintered, #1)]          1
2                A_J_Cronin  4.000000                          [The Keys of the Kingdom]          1
3                A_J_Jacobs  3.000000                    [The Year of Living Biblically]          1
4                  A_J_Salt  4.000000                  [Nik Nassa & the Mark of Destiny]          1
...                     ...       ...                                                ...        ...
2643                      _  3.571429  [Ø¹Ø²Ø§Ø²ÙÙ, Ø«ÙØ§Ø«ÙØ© ØºØ±ÙØ§Ø·Ø©, ØªØ±...         42
2644          _gota_Krist_f  4.000000           [The Notebook, The Proof, The Third Lie]          1
2645             _mile_Zola  3.750000  [Germinal (Les Rougon-Macquart, #13), L'Assomm...          4
2646  _ric_Emmanuel_Schmitt  4.000000                            [Oscar et la dame rose]          1
2647         _sne_Seierstad  3.000000                          [The Bookseller of Kabul]          1

[2648 rows x 4 columns]

In [153]:
# sort for more prolific
authors.sort_values(by='num_books', ascending=False).iloc[0]

author                                            Stephen_King
rating                                                   3.375
name         [The Stand, The Shining (The Shining #1), It, ...
num_books                                                   56
Name: 2351, dtype: object

#### Winner is Stephen King with 56 books! OMG!!!

Perhaps you want more detailed info...

In [157]:
dfgb_author[['rating', 'rating_count', 'review_count', 'year']].describe()

                      rating                                              rating_count                                                                             review_count                                                                      year
                       count      mean      std  min   25%  50%  75%  max        count          mean           std      min       25%      50%       75%       max        count         mean          std     min      25%     50%      75%     max count         mean         std     min      25%     50%      75%     max
author
A_A_Milne                6.0  4.000000  0.00000  4.0  4.00  4.0  4.0  4.0          6.0  47842.333333  57135.314010    544.0  15559.50  30547.0  50401.25  157833.0          6.0   543.000000   682.473150     1.0   219.50   309.5   499.25  1886.0   6.0  1944.166667   29.294482  1926.0  1926.25  1927.5  1952.75  1997.0
A_G_Howard               1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0  17073.000000           NaN  17073.0  17073.00  17073.0  17073.00   17073.0          1.0  3194.000000          NaN  3194.0  3194.00  3194.0  3194.00  3194.0   1.0  2013.000000         NaN  2013.0  2013.00  2013.0  2013.00  2013.0
A_J_Cronin               1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0   1015.000000           NaN   1015.0   1015.00   1015.0   1015.00    1015.0          1.0   109.000000          NaN   109.0   109.00   109.0   109.00   109.0   1.0  1941.000000         NaN  1941.0  1941.00  1941.0  1941.00  1941.0
A_J_Jacobs               1.0  3.000000      NaN  3.0  3.00  3.0  3.0  3.0          1.0  39489.000000           NaN  39489.0  39489.00  39489.0  39489.00   39489.0          1.0  4371.000000          NaN  4371.0  4371.00  4371.0  4371.00  4371.0   1.0  2007.000000         NaN  2007.0  2007.00  2007.0  2007.00  2007.0
A_J_Salt                 1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0     16.000000           NaN     16.0     16.00     16.0     16.00      16.0          1.0     6.000000          NaN     6.0     6.00     6.0     6.00     6.0   1.0  2014.000000         NaN  2014.0  2014.00  2014.0  2014.00  2014.0
...                      ...       ...      ...  ...   ...  ...  ...  ...          ...           ...           ...      ...       ...      ...       ...       ...          ...          ...          ...     ...      ...     ...      ...     ...   ...          ...         ...     ...      ...     ...      ...     ...
_                       42.0  3.571429  0.50087  3.0  3.00  4.0  4.0  4.0         42.0  11574.642857   9368.218450     10.0   4724.00   8709.5  15572.75   39302.0         42.0  1437.214286  1216.421371     1.0   534.75  1020.5  1745.75  4785.0  42.0  1998.904762   18.721071  1941.0  1994.75  2007.0  2010.75  2014.0
_gota_Krist_f            1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0   2628.000000           NaN   2628.0   2628.00   2628.0   2628.00    2628.0          1.0   243.000000          NaN   243.0   243.00   243.0   243.00   243.0   1.0  1986.000000         NaN  1986.0  1986.00  1986.0  1986.00  1986.0
_mile_Zola               4.0  3.750000  0.50000  3.0  3.75  4.0  4.0  4.0          4.0   8358.250000   4553.226942   3594.0   5181.75   8095.0  11271.50   13649.0          4.0   283.750000   171.069917   125.0   189.50   243.5   337.75   523.0   4.0  1652.500000  456.345264   968.0  1649.75  1878.5  1881.25  1885.0
_ric_Emmanuel_Schmitt    1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0   6439.000000           NaN   6439.0   6439.00   6439.0   6439.00    6439.0          1.0   424.000000          NaN   424.0   424.00   424.0   424.00   424.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0
_sne_Seierstad           1.0  3.000000      NaN  3.0  3.00  3.0  3.0  3.0          1.0  24993.000000           NaN  24993.0  24993.00  24993.0  24993.00   24993.0          1.0  2088.000000          NaN  2088.0  2088.00  2088.0  2088.00  2088.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0

[2648 rows x 32 columns]

You can also access a `groupby` dictionary style.

In [159]:
ratingdict = {}
for author, subset in dfgb_author:
    ratingdict[author] = (subset['rating'].mean(), subset['rating'].std())
ratingdict

{'A_A_Milne': (4.0, 0.0),
 'A_G_Howard': (4.0, nan),
 'A_J_Cronin': (4.0, nan),
 'A_J_Jacobs': (3.0, nan),
 'A_J_Salt': (4.0, nan),
 'A_Meredith_Walters': (4.0, 0.0),
 'A_N_Roquelaure': (3.0, 0.0),
 'A_S_Byatt': (3.0, nan),
 'A_S_King': (3.0, nan),
 'A_id_al_Qarni': (3.5, 0.7071067811865476),
 'Abbi_Glines': (3.857142857142857, 0.3631365196012815),
 'Abdul_Rahman_Munif': (4.0, nan),
 'Abigail_Gibbs': (3.0, nan),
 'Abigail_Roux': (4.0, 0.0),
 'Abigail_Thomas': (3.0, nan),
 'Abolqasem_Ferdowsi': (4.0, nan),
 'Abraham_Verghese': (4.0, nan),
 'Abul_Hasan_Ali_Nadwi': (4.0, nan),
 'Adam_Hochschild': (4.0, nan),
 'Adam_Johnson': (4.0, nan),
 'Adam_Levin': (4.0, nan),
 'Adam_Rex': (4.0, nan),
 'Adam_Smith': (3.0, nan),
 'Addison_Moore': (3.0, nan),
 'Adeline_Yen_Mah': (4.0, nan),
 'Adolf_Hitler': (2.0, nan),
 'Adolfo_Bioy_Casares': (4.0, nan),
 'Aeschylus': (3.0, nan),
 'Aesop': (4.0, nan),
 'Agatha_Christie': (3.3636363636363638, 0.504524979109513),
 'Ahlam_Mosteghanemi': (3.0, nan),
 'Ahmad_Baari': (4.0, nan),
 'Ahmad_Fuadi': (4.0, nan),
 'Ai_Yazawa': (4.0, nan),
 'Aidan_Chambers': (4.0, nan),
 'Aidh_bin_Abdullah_al_Qarni': (4.0, nan),
 'Aimee_Carter': (3.3333333333333335, 0.5773502691896257),
 'Aimee_Friedman': (3.0, nan),
 'Alain_Fournier': (3.0, nan),
 'Alan_Bradley': (3.0, nan),
 'Alan_Brennert': (4.0, nan),
 'Alan_Campbell': (3.0, nan),
 'Alan_Hollinghurst': (3.0, nan),
 'Alan_Lightman': (4.0, nan),
 'Alan_Moore': (3.8, 0.4472135954999579),
 'Alan_Paton': (3.0, nan),
 'Alan_Wilson_Watts': (4.0, nan),
 'Alastair_Reynolds': (4.0, nan),
 'Albert_Camus': (3.6, 0.5477225575051661),
 'Albert_Einstein': (4.0, nan),
 'Albert_Espinosa': (3.0, nan),
 'Alcoholics_Anonymous': (4.0, nan),
 'Aldo_Leopold': (4.0, nan),
 'Aldous_Huxley': (3.2, 0.4472135954999579),
 'Aleatha_Romig': (4.0, 0.0),
 'Alecia_Stone': (3.5, 0.7071067811865476),
 'Aleksandr_Solzhenitsyn': (3.6666666666666665, 0.5773502691896257),
 'Alessandro_Baricco': (3.6666666666666665, 0.5773502691896257),
 'Alessandro_Manzoni': (3.0, nan),
 'Alex_Flinn': (3.0, 0.0),
 'Alex_Garland': (3.0, 0.0),
 'Alex_Haley': (4.0, nan),
 'Alex_Harris': (4.0, nan),
 'Alex_Kotlowitz': (4.0, nan),
 'Alex_Sanchez': (3.0, 0.0),
 'Alexander_Gordon_Smith': (4.0, nan),
 'Alexander_Jovy': (4.0, nan),
 'Alexander_McCall_Smith': (3.0, nan),
 'Alexander_Pushkin': (4.0, nan),
 'Alexandra_Adornetto': (3.0, 0.0),
 'Alexandra_Bracken': (3.6666666666666665, 0.5773502691896257),
 'Alexandra_Fuller': (3.0, nan),
 'Alexandra_Ivy': (3.5, 0.7071067811865476),
 'Alexandra_Monir': (3.0, nan),
 'Alexandra_Potter': (3.0, nan),
 'Alexandra_Ripley': (3.0, nan),
 'Alexandre_Dumas': (4.0, 0.0),
 'Alexandre_Dumas_fils': (3.0, nan),
 'Alexei_Maxim_Russell': (3.6666666666666665, 0.5773502691896257),
 'Alexis_de_Tocqueville': (3.0, nan),
 'Alfred_Bester': (4.0, 0.0),
 'Alfred_Lansing': (4.0, nan),
 'Alfred_Tennyson': (4.0, nan),
 'Ali_Marsman': (4.0, nan),
 'Ali_Smith': (3.0, nan),
 'Alice_Clayton': (4.0, nan),
 'Alice_Hoffman': (3.0, 0.0),
 'Alice_Kuipers': (3.0, nan),
 'Alice_Schroeder': (4.0, nan),
 'Alice_Sebold': (3.0, 0.0),
 'Alice_Walker': (4.0, 0.0),
 'Alija_Izetbegovi_': (4.0, nan),
 'Alison_Bechdel': (4.0, nan),
 'Alison_Croggon': (3.75, 0.5),
 'Alison_Goodman': (4.0, 0.0),
 'Alison_Weir': (3.3333333333333335, 0.5773502691896257),
 'Alistair_MacLeod': (3.0, nan),
 'Allan_Frewin_Jones': (3.5, 0.7071067811865476),
 'Allan_Gurganus': (3.0, nan),
 'Allan_Pease': (3.0, nan),
 'Allegra_Goodman': (3.0, nan),
 'Allen_Ginsberg': (4.0, nan),
 'Ally_Carter': (3.7777777777777777, 0.4409585518440984),
 'Ally_Condie': (3.0, 0.0),
 'Ally_Shields': (3.0, nan),
 'Allyse_Near': (4.0, nan),
 'Alma_Katsu': (3.0, nan),
 'Alyson_Noel': (3.1, 0.31622776601683794),
 'Alyxandra_Harvey': (3.6666666666666665, 0.5773502691896257),
 'Am_lie_Nothomb': (3.0, 0.0),
 'Amanda_E_Alvarez': (3.0, nan),
 'Amanda_Hocking': (3.625, 0.5175491695067657),
 'Amber_Argyle': (3.0, nan),
 'Amber_Lea_Easton': (4.0, nan),
 'Ambrose_Bierce': (4.0, nan),
 'Amelia_Atwater_Rhodes': (3.8333333333333335, 0.408248290463863),
 'Amelia_Hutchins': (4.0, 0.0),
 'Ami_McKay': (3.0, nan),
 'Amin_Maalouf': (4.0, nan),
 'Amish_Tripathi': (3.0, 0.0),
 'Amitav_Ghosh': (3.0, nan),
 'Amor_Towles': (3.0, nan),
 'Amy_A_Bartol': (4.0, 0.0),
 'Amy_Efaw': (3.0, nan),
 'Amy_Harmon': (4.0, 0.0),
 'Amy_Hempel': (4.0, nan),
 'Amy_Plum': (4.0, 0.0),
 'Amy_Tan': (3.0, 0.0),
 'Anastacia_Moore': (4.0, nan),
 'Anchee_Min': (3.0, nan),
 'Andr_Aciman': (4.0, nan),
 'Andr_Gide': (3.0, nan),
 'Andre_Agassi': (4.0, nan),
 'Andre_Dubus_III': (3.0, nan),
 'Andrea_Cremer': (4.0, 0.0),
 'Andrea_Hirata': (3.75, 0.5),
 'Andrea_Levy': (3.0, nan),
 'Andrew_Clements': (3.0, 0.0),
 'Andrew_Davidson': (3.0, nan),
 'Andrew_Klavan': (3.5, 0.7071067811865476),
 'Andrew_Smith': (4.0, nan),
 'Andrzej_Sapkowski': (4.0, 0.0),
 'Andy_Szpuk': (4.0, nan),
 'Andy_Weir': (4.0, nan),
 'Angel_Sefer': (4.0, nan),
 'Angela_Carter': (3.5, 0.7071067811865476),
 'Angela_Morrison': (4.0, nan),
 'Angelo_Tsanatelis': (4.0, 0.0),
 'Angie_Martin': (4.0, 0.0),
 'Angie_Sage': (3.0, 0.0),
 'Anita_Diamant': (4.0, nan),
 'Anita_Shreve': (3.0, nan),
 'Ann_Aguirre': (3.5, 0.7071067811865476),
 'Ann_Brashares': (3.0, 0.0),
 'Ann_Fairbairn': (4.0, nan),
 'Ann_M_Martin': (4.0, nan),
 'Ann_Marie_MacDonald': (3.0, nan),
 'Ann_Patchett': (3.0, 0.0),
 'Ann_Rule': (3.6, 0.5477225575051661),
 'Anna_Banks': (4.0, 0.0),
 'Anna_Carey': (3.0, 0.0),
 'Anna_Gavalda': (4.0, nan),
 'Anna_Godbersen': (3.0, 0.0),
 'Anna_Lee_Waldo': (4.0, nan),
 'Anna_Quindlen': (3.0, nan),
 'Anna_Sewell': (3.0, nan),
 'Anne_Bishop': (3.9, 0.31622776601683794),
 'Anne_Bront_': (3.0, 0.0),
 'Anne_Carson': (4.0, nan),
 'Anne_Elisabeth_Stengl': (3.6666666666666665, 0.5773502691896257),
 'Anne_Fadiman': (4.0, nan),
 'Anne_Fortier': (3.0, nan),
 'Anne_Frank': (4.0, nan),
 'Anne_Lamott': (4.0, 0.0),
 'Anne_McCaffrey': (3.769230769230769, 0.4385290096535146),
 'Anne_Michaels': (3.0, nan),
 'Anne_Morrow_Lindbergh': (4.0, nan),
 'Anne_Rice': (3.1578947368421053, 0.3746343246326776),
 'Anne_Tyler': (3.1666666666666665, 0.40824829046386296),
 'Annemarie_Selinko': (3.0, nan),
 'Annette_Curtis_Klause': (3.0, 0.0),
 'Annie_Dillard': (3.5, 0.7071067811865476),
 'Annie_Proulx': (3.0, 0.0),
 'Anonymous': (3.823529411764706, 0.3929526239966879),
 'Anthony_Bourdain': (3.0, nan),
 'Anthony_Burgess': (3.5, 0.7071067811865476),
 'Anthony_Doerr': (4.0, nan),
 'Anthony_Hope': (3.0, nan),
 'Anthony_Horowitz': (3.727272727272727, 0.4670993664969138),
 'Anthony_Kiedis': (4.0, nan),
 'Anthony_Marra': (4.0, nan),
 'Anthony_Ryan': (4.0, nan),
 'Anthony_Swofford': (3.0, nan),
 'Anthony_Trollope': (3.5, 0.7071067811865476),
 'Antoine_de_Saint_Exup_ry': (4.0, 0.0),
 'Anton_Chekhov': (3.6666666666666665, 0.5773502691896257),
 'Antonia_Fraser': (3.0, nan),
 'Antonia_Michaelis': (4.0, nan),
 'Antony_Beevor': (4.0, nan),
 'Anya_Seton': (4.0, nan),
 'Aporva_Kala': (4.0, 0.0),
 'April_Henry': (3.0, nan),
 'Aprilynne_Pike': (3.5, 0.5773502691896257),
 'Aravind_Adiga': (3.0, nan),
 'Ariana_Franklin': (3.0, nan),
 'Aristophanes': (3.0, nan),
 'Aristotle': (3.0, nan),
 'Arkady_Strugatsky': (4.0, 0.0),
 'Armando_Cosani': (4.0, nan),
 'Armistead_Maupin': (4.0, nan),
 'Art_Spiegelman': (4.0, 0.0),
 'Arthur_C_Clarke': (3.8, 0.4472135954999579),
 'Arthur_Conan_Doyle': (3.769230769230769, 0.4385290096535146),
 'Arthur_Golden': (4.0, nan),
 'Arthur_Koestler': (4.0, nan),
 'Arthur_Miller': (3.0, 0.0),
 'Arthur_Ransome': (3.0, nan),
 'Arthur_Rimbaud': (4.0, 0.0),
 'Arthur_Schnitzler': (3.0, nan),
 'Arturo_P_rez_Reverte': (3.0, 0.0),
 'Arun_Tiwari': (4.0, nan),
 'Arundhati_Roy': (3.0, nan),
 'Asa_Don_Brown': (4.0, nan),
 'Ashley_Chappell': (4.0, 0.0),
 'Ashley_Waelti': (4.0, nan),
 'Astrid_Lindgren': (4.0, 0.0),
 'Audrey_Niffenegger': (3.0, 0.0),
 'Augusten_Burroughs': (3.0, 0.0),
 'Augustine_of_Hippo': (3.0, nan),
 'Aurora_Rose_Reynolds': (4.0, nan),
 'Austin_Kleon': (3.0, nan),
 'Author_Neva_Squires_Rodriguez': (4.0, nan),
 'Autumn_Cornwell': (3.0, nan),
 'Avery_Aster': (3.25, 0.5),
 'Avi': (3.0, nan),
 'Ayaan_Hirsi_Ali': (4.0, nan),
 'Ayn_Rand': (3.2, 0.4472135954999579),
 'Azar_Nafisi': (3.0, nan),
 'B_Kristin_McMichael': (3.3333333333333335, 0.5773502691896257),
 'Banana_Yoshimoto': (3.0, nan),
 'Barack_Obama': (3.0, nan),
 'Barbara_Demick': (4.0, nan),
 'Barbara_Ehrenreich': (3.0, nan),
 'Barbara_Erskine': (4.0, nan),
 'Barbara_Kingsolver': (3.3333333333333335, 0.5163977794943222),
 'Barbara_Taylor_Bradford': (4.0, nan),
 'Barbara_W_Tuchman': (4.0, 0.0),
 'Barry_Jordan_Jr_': (4.0, nan),
 'Barry_Lyga': (3.0, nan),
 'Barry_Unsworth': (4.0, nan),
 'Beatrice_Sparks': (3.0, nan),
 'Beatrix_Potter': (4.0, 0.0),
 'Becca_Fitzpatrick': (4.0, 0.0),
 'Belle_Aurora': (4.0, 0.0),
 'Belsebuub': (4.0, nan),
 'Belzebuub': (4.0, 0.0),
 'Ben_Goldacre': (4.0, nan),
 'Ben_Peller': (4.0, 0.0),
 'Ben_Sherwood': (3.0, nan),
 'Benedict_Freedman': (4.0, nan),
 'Benjamin_Alire_S_enz': (4.0, nan),
 'Benjamin_Franklin': (3.0, nan),
 'Benjamin_Graham': (4.0, nan),
 'Benjamin_Hoff': (4.0, 0.0),
 'Bernadette_Azizi': (4.0, nan),
 'Bernard_Cornwell': (3.888888888888889, 0.33333333333333337),
 'Bernard_Malamud': (3.0, 0.0),
 'Bernhard_Schlink': (3.0, nan),
 'Bertolt_Brecht': (3.0, nan),
 'Bertrand_Russell': (4.0, nan),
 'Beryl_Markham': (4.0, nan),
 'Bess_Streeter_Aldrich': (4.0, nan),
 'Beth_Fantaskey': (3.0, nan),
 'Beth_Hoffman': (3.0, nan),
 'Beth_Revis': (3.5, 0.7071067811865476),
 'Bethany_Hamilton': (4.0, nan),
 'Bette_Greene': (3.0, nan),
 'Betty_Edwards': (3.0, nan),
 'Betty_Friedan': (3.0, nan),
 'Betty_MacDonald': (4.0, nan),
 'Betty_Mahmoody': (3.0, nan),
 'Betty_Smith': (4.0, nan),
 'Bev_Stout': (4.0, nan),
 'Bill_Bryson': (3.3333333333333335, 0.49999999999999994),
 'Bill_Courtney': (4.0, nan),
 'Bill_Konigsberg': (4.0, nan),
 'Bill_Martin_Jr_': (4.0, nan),
 'Bill_Watterson': (4.0, 0.0),
 'Billie_Letts': (3.0, nan),
 'Bisco_Hatori': (4.0, nan),
 'Blue_Jeans': (4.0, nan),
 'Bo_Hampton': (3.0, nan),
 'Bob_Atkinson': (4.0, nan),
 'Bob_Dylan': (3.0, nan),
 'Bodie_Thoene': (4.0, 0.0),
 'Bohumil_Hrabal': (4.0, 0.0),
 'Boris_Pasternak': (4.0, nan),
 'Boris_Vian': (4.0, 0.0),
 'Brae_Wyckoff': (3.0, nan),
 'Bram_Stoker': (3.0, nan),
 'Brandon_Mull': (4.0, 0.0),
 'Brandon_Sanderson': (3.909090909090909, 0.30151134457776363),
 'Bree_Despain': (3.5, 0.7071067811865476),
 'Brenna_Yovanoff': (3.0, nan),
 'Brent_Weeks': (4.0, 0.0),
 'Bret_Easton_Ellis': (3.0, 0.0),
 'Brett_Axel': (4.0, nan),
 'Brian_Celio': (4.0, nan),
 'Brian_Greene': (4.0, nan),
 'Brian_Jacques': (3.5, 0.5188745216627708),
 'Brian_K_Vaughan': (4.0, nan),
 'Brian_Katcher': (3.0, nan),
 'Brian_L_Weiss': (4.0, nan),
 'Brian_Lumley': (3.0, nan),
 'Brian_Patrick_McKinley': (4.0, nan),
 'Brian_Selznick': (4.0, 0.0),
 'Brigid_Kemmerer': (4.0, 0.0),
 'Brodi_Ashton': (3.0, nan),
 'Brom': (4.0, nan),
 'Brother_Andrew': (4.0, nan),
 'Brother_Lawrence': (4.0, nan),
 'Bruce_Campbell': (4.0, nan),
 'Bruno_Schulz': (4.0, nan),
 'Bryan_Davis': (4.0, nan),
 'Bryan_Lee_O_Malley': (4.0, 0.0),
 'Bryce_Courtenay': (3.75, 0.5),
 'CLAMP': (4.0, nan),
 'C_C_Humphreys': (3.0, nan),
 'C_C_Hunter': (4.0, 0.0),
 'C_D_Payne': (4.0, nan),
 'C_E_Kilgore': (3.0, nan),
 'C_G_Jung': (4.0, nan),
 'C_J_Box': (3.0, nan),
 'C_J_Daugherty': (4.0, 0.0),
 'C_J_Redwine': (3.0, nan),
 'C_J_Roberts': (4.0, 0.0),
 'C_J_Sansom': (4.0, nan),
 'C_L_Stone': (4.0, 0.0),
 'C_L_Wilson': (4.0, 0.0),
 'C_S_Lewis': (3.611111111111111, 0.5016313257045503),
 'Caleb_Carr': (4.0, nan),
 'Candace_Bushnell': (3.0, nan),
 'Candice_Millard': (4.0, nan),
 'Cao_Xueqin': (4.0, nan),
 'Cara_Lynn_Shultz': (3.0, nan),
 'Caragh_M_O_Brien': (3.0, nan),
 'Carl_Hiaasen': (3.0, 0.0),
 'Carl_Sagan': (4.0, 0.0),
 'Carla_Capshaw': (4.0, 0.0),
 'Carlo_Collodi': (3.0, nan),
 'Carlos_Castaneda': (3.0, nan),
 'Carlos_Rivera': (4.0, nan),
 'Carlos_Ruiz_Zaf_n': (3.25, 0.5),
 'Carol_E_Wyer': (4.0, nan),
 'Carol_Plum_Ucci': (4.0, nan),
 'Carol_Rifka_Brunt': (4.0, nan),
 'Carol_Shields': (3.0, nan),
 'Carole_Wilkinson': (3.0, nan),
 'Carolina_Andujar': (4.0, nan),
 'Caroline_B_Cooney': (3.0, nan),
 'Carolyn_Jessop': (3.0, nan),
 'Carolyn_Keene': (3.0, 0.0),
 'Carolyn_Turgeon': (3.0, nan),
 'Carrie_Jones': (3.3333333333333335, 0.5773502691896257),
 'Carrie_Ryan': (3.3333333333333335, 0.5773502691896257),
 'Carrie_Vaughn': (3.0, nan),
 'Carson_McCullers': (3.3333333333333335, 0.5773502691896257),
 'Cassandra_Clare': (4.0, 0.0),
 'Cat_Clarke': (3.0, 0.0),
 'Cat_Patrick': (3.0, 0.0),
 'Cate_Tiernan': (4.0, 0.0),
 'Cath_Crowley': (3.0, nan),
 'Catherine_Anderson': (4.0, 0.0),
 'Catherine_Fisher': (3.0, 0.0),
 'Catherine_Gilbert_Murdock': (3.0, nan),
 'Catherine_Hardwicke': (4.0, nan),
 'Catherine_Jinks': (3.0, nan),
 'Catherine_Marshall': (4.0, nan),
 'Catherynne_M_Valente': (3.6666666666666665, 0.5773502691896257),
 'Cecelia_Ahern': (3.0, 0.0),
 'Cecily_von_Ziegesar': (3.0, 0.0),
 'Celia_Rees': (3.0, nan),
 'Celso_Cukierkorn': (4.0, nan),
 'Chad_Harbach': (3.0, nan),
 'Chaim_Potok': (3.75, 0.5),
 'Chanda_Hahn': (3.5, 0.7071067811865476),
 'Charlaine_Harris': (3.5625, 0.51234753829798),
 'Charles_Baudelaire': (4.0, 0.0),
 'Charles_Bukowski': (3.5, 0.5477225575051661),
 'Charles_C_Mann': (4.0, nan),
 'Charles_Darwin': (3.0, nan),
 'Charles_Dickens': (3.2, 0.4140393356054125),
 'Charles_Frazier': (3.0, 0.0),
 'Charles_H_Spurgeon': (4.0, nan),
 'Charles_M_Sheldon': (4.0, nan),
 'Charles_Palliser': (4.0, nan),
 'Charles_Portis': (4.0, nan),
 'Charles_de_Lint': (4.0, nan),
 'Charlie_Higson': (4.0, nan),
 'Charlotte_Bront_': (3.3333333333333335, 0.5773502691896257),
 'Charlotte_Perkins_Gilman': (3.0, nan),
 'Chelsea_Bellingeri': (4.0, 0.0),
 'Chelsea_Fine': (3.0, nan),
 'Chelsea_Handler': (3.0, 0.0),
 'Chelsea_M_Cameron': (4.0, nan),
 'Cherie_Currie': (3.0, nan),
 'Cherie_Priest': (3.0, nan),
 'Cheryl_McIntyre': (4.0, nan),
 'Cheryl_Strayed': (3.0, nan),
 'Chetan_Bhagat': (3.0, 0.0),
 'Chevy_Stevens': (3.0, nan),
 'Chimamanda_Ngozi_Adichie': (4.0, nan),
 'China_Mi_ville': (3.25, 0.5),
 'Chinua_Achebe': (3.0, nan),
 'Chitra_Banerjee_Divakaruni': (3.5, 0.7071067811865476),
 'Chloe_Neill': (4.0, 0.0),
 'Chris_Bohjalian': (3.0, 0.0),
 'Chris_Cleave': (3.0, nan),
 'Chris_Colfer': (3.6666666666666665, 0.5773502691896257),
 'Chris_Crutcher': (3.0, 0.0),
 'Chris_Kyle': (3.0, nan),
 'Chris_Lange': (4.0, nan),
 'Chris_Thrall': (3.0, nan),
 'Chris_Titus': (3.0, nan),
 'Chris_Van_Allsburg': (4.0, nan),
 'Chris_Ware': (4.0, nan),
 'Chris_Wooding': (3.6666666666666665, 0.5773502691896257),
 'Chris_d_Lacey': (3.2, 0.4472135954999579),
 'Christina_Baker_Kline': (4.0, nan),
 'Christina_Dodd': (4.0, nan),
 'Christina_Lauren': (4.0, 0.0),
 'Christina_Mercer': (4.0, nan),
 'Christina_Schwarz': (3.0, nan),
 'Christine_Feehan': (3.8, 0.4472135954999579),
 'Christine_M_Knight': (4.0, 0.0),
 'Christine_Sparks': (3.0, nan),
 'Christine_Zolendz': (4.0, 0.0),
 'Christopher_Barzak': (4.0, nan),
 'Christopher_Hitchens': (3.0, nan),
 'Christopher_Marlowe': (3.0, nan),
 'Christopher_McDougall': (4.0, nan),
 'Christopher_Moore': (3.25, 0.4629100498862757),
 'Christopher_Paolini': (3.5714285714285716, 0.5345224838248487),
 'Christopher_Paul_Curtis': (3.0, nan),
 'Christopher_Pike': (3.8333333333333335, 0.40824829046386296),
 'Christopher_Rice': (3.0, nan),
 'Christopher_Shields': (4.0, 0.0),
 'Chuck_Dixon': (4.0, nan),
 'Chuck_Klosterman': (3.0, 0.0),
 'Chuck_Palahniuk': (3.125, 0.3535533905932738),
 'Cinda_Williams_Chima': (3.857142857142857, 0.37796447300922725),
 'Cindy_C_Bennett': (4.0, nan),
 'Cindy_Springsteen': (4.0, nan),
 'Claire_LaZebnik': (3.0, nan),
 'Clare_B_Dunkle': (4.0, nan),
 'Clare_Vanderpool': (4.0, nan),
 'Clarice_Lispector': (3.0, nan),
 'Clarissa_Pinkola_Est_s': (4.0, nan),
 'Claude_Brown': (4.0, nan),
 'Claudia_Gray': (3.0, 0.0),
 'Clay_Griffith': (3.0, nan),
 'Clement_C_Moore': (4.0, nan),
 'Clive_Barker': (4.0, 0.0),
 'Clive_Cussler': (3.0, 0.0),
 'Colleen_Hoover': (4.0, 0.0),
 'Colleen_Houck': (4.0, 0.0),
 'Colleen_McCullough': (4.0, 0.0),
 'Collette_Sinclaire': (4.0, 0.0),
 'Colum_McCann': (3.0, 0.0),
 'Conn_Iggulden': (4.0, 0.0),
 'Connie_May_Fowler': (3.0, nan),
 'Connie_Willis': (3.6666666666666665, 0.5773502691896257),
 'Conor_Grennan': (4.0, nan),
 'Cora_Carmack': (3.5, 0.7071067811865476),
 'Cormac_McCarthy': (3.6666666666666665, 0.49999999999999994),
 'Cornelia_Funke': (3.1666666666666665, 0.408248290463863),
 'Cornelius_Ryan': (4.0, nan),
 'Corrie_ten_Boom': (4.0, nan),
 'Cory_Doctorow': (3.0, nan),
 'Courtney_Allison_Moulton': (3.5, 0.7071067811865476),
 'Courtney_Summers': (3.0, 0.0),
 'Craig_Clevenger': (4.0, nan),
 'Craig_Silvey': (4.0, nan),
 'Craig_Thompson': (4.0, 0.0),
 'Cristiane_Serruya': (3.6666666666666665, 0.5773502691896257),
 'Crockett_Johnson': (4.0, nan),
 'Cupcake_Brown': (4.0, nan),
 'Curtis_Sittenfeld': (3.0, nan),
 'Cynthia_Collins': (4.0, nan),
 'Cynthia_Hand': (4.0, 0.0),
 'Cynthia_Kadohata': (3.0, nan),
 'Cynthia_Lord': (3.0, nan),
 'Cynthia_Voigt': (3.0, 0.0),
 'D_B_C_Pierre': (3.0, nan),
 'D_B_Shan': (3.0, nan),
 'D_C_Talk': (4.0, nan),
 'D_H_Lawrence': (3.0, 0.0),
 'D_J_MacHale': (3.888888888888889, 0.3333333333333334),
 'D_M_Thomas': (3.0, nan),
 'Dalai_Lama_XIV': (4.0, nan),
 'Dale_Carnegie': (4.0, nan),
 'Dalton_Trumbo': (4.0, nan),
 'Dan_Brown': (3.0, 0.0),
 'Dan_Simmons': (3.3333333333333335, 0.49999999999999994),
 'Dan_Wells': (3.0, 0.0),
 'Danelle_O_Donnell': (4.0, nan),
 'Dani_Alexander': (4.0, nan),
 'Daniel_Clowes': (3.0, nan),
 'Daniel_Defoe': (3.0, 0.0),
 'Daniel_Glattauer': (3.0, nan),
 'Daniel_H_Wilson': (3.0, nan),
 'Daniel_Handler': (3.0, nan),
 'Daniel_Kahneman': (4.0, nan),
 'Daniel_Keyes': (3.0, nan),
 'Daniel_O_Malley': (4.0, nan),
 'Daniel_Pinkwater': (4.0, nan),
 'Daniel_Pyle': (3.0, nan),
 'Daniel_Quinn': (3.5, 0.7071067811865476),
 'Daniel_Suarez': (4.0, 0.0),
 'Danielle_DeVor': (4.0, nan),
 'Danielle_Paige': (3.0, nan),
 'Danielle_Steel': (3.0, nan),
 'Danielle_Trussoni': (3.0, nan),
 'Dante_Alighieri': (3.3333333333333335, 0.5773502691896257),
 'Daphne_du_Maurier': (3.2, 0.44721359549995787),
 'Darren_Shan': (4.0, 0.0),
 'Darrius_Garrett': (4.0, nan),
 'Darynda_Jones': (4.0, 0.0),
 'Dashiell_Hammett': (3.5, 0.7071067811865476),
 'Dave_Barry': (3.5, 0.7071067811865476),
 'Dave_Cullen': (4.0, nan),
 'Dave_Eggers': (3.5, 0.5773502691896257),
 'Dave_Pelzer': (4.0, 0.0),
 'Dave_Ramsey': (4.0, nan),
 'David_Allen': (3.0, nan),
 'David_Baldacci': (3.0, 0.0),
 'David_Benioff': (4.0, 0.0),
 'David_Brin': (3.3333333333333335, 0.5773502691896257),
 'David_Clement_Davies': (4.0, 0.0),
 'David_Eddings': (3.9166666666666665, 0.2886751345948128),
 'David_Fishelson': (4.0, nan),
 'David_Foster_Wallace': (3.8, 0.4472135954999579),
 'David_Gemmell': (4.0, 0.0),
 'David_Guterson': (3.0, nan),
 'David_James_Duncan': (4.0, 0.0),
 'David_Levithan': (3.3333333333333335, 0.5773502691896257),
 'David_Liss': (3.0, nan),
 'David_McCullough': (4.0, 0.0),
 'David_Mitchell': (3.75, 0.5),
 'David_Nicholls': (3.0, nan),
 'David_Sedaris': (3.75, 0.5),
 'David_Shannon': (4.0, nan),
 'David_Weber': (4.0, nan),
 'David_Wong': (3.0, nan),
 'David_Wroblewski': (3.0, nan),
 'Dayna_Lorentz': (3.0, nan),
 'Dean_Koontz': (3.1666666666666665, 0.3834824944236852),
 'Deb_Apodaca': (3.0, nan),
 'Deborah_Harkness': (3.5, 0.7071067811865476),
 'Debra_Anastasia': (3.0, nan),
 'Dee': (3.0, 0.0),
 'Dee_Brown': (4.0, nan),
 'Deepak_Chaswal': (4.0, nan),
 'Deepak_Chopra': (4.0, nan),
 'Demi_Lovato': (4.0, nan),
 'Denis_Johnson': (4.0, nan),
 'Dennis_Lehane': (3.6666666666666665, 0.5773502691896257),
 'Dennis_Sharpe': (4.0, 0.0),
 'Derek_Landy': (4.0, 0.0),
 'Diana_Gabaldon': (4.0, 0.0),
 'Diana_Wynne_Jones': (3.5, 0.5773502691896257),
 'Diane_Ackerman': (3.0, nan),
 'Diane_Chamberlain': (4.0, 0.0),
 'Diane_Duane': (3.0, nan),
 'Diane_Setterfield': (3.0, nan),
 'Dick_Francis': (4.0, nan),
 'Dietrich_Bonhoeffer': (4.0, nan),
 'Dimitri_Verhulst': (3.0, nan),
 'Dino_Buzzati': (4.0, nan),
 'Dmitry_Glukhovsky': (3.0, nan),
 'Dodie_Smith': (3.5, 0.7071067811865476),

**This question is primarily aimed at graduate students, serving as a critical part of their assignment. However, undergraduate students are encouraged to take this on as an optional bonus challenge.**
<div class="exercise"><b>Exercise 7</b></div>

Lets get the best-rated book(s) for every year in our dataframe.

In [164]:
best_rated_books_per_year = df.loc[df.groupby('year')['rating'].idxmax()]

best_rated_books_per_year.head()

      rating  review_count        isbn         booktype                                         author_url  year                                     dir  rating_count                   name     author                                             genres
1398       3          1644  0141026286  good_reads:book  https://www.goodreads.com/author/show/5158478.... -1500  dir14/19351.The_Epic_of_Gilgamesh.html         42026  The Epic of Gilgamesh  Anonymous  religion|literature|ancient|academic|read-for-...
246        4           365  0147712556  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800   dir03/1375.The_Iliad_The_Odyssey.html         35123  The Iliad/The Odyssey      Homer  classics|fantasy|mythology|fantasy|academic|sc...
1397       4           890  0192840509  good_reads:book  https://www.goodreads.com/author/show/12452.Aesop  -560         dir14/21348.Aesop_s_Fables.html         71259         Aesop's Fables      Aesop  classics|childrens|literature|fantasy|fairy-ta...
674        3          3559  1590302257  good_reads:book  https://www.goodreads.com/author/show/1771.Sun...  -512         dir07/10534.The_Art_of_War.html        114619         The Art of War    Sun_Tzu  non-fiction|politics|classics|literature|psych...
746        4          1087  0140449183  good_reads:book  https://www.goodreads.com/author/show/5158478....  -500      dir08/99944.The_Bhagavad_Gita.html         31634      The Bhagavad Gita  Anonymous  classics|spirituality|religion|hinduism|fantas...